html {
  background-color: #c9b5ae;
  font-family: "PT Serif", serif;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #4e0e1f;
  font-size: 3rem;
  font-weight: 700;
}

ol {
  list-style-type: none;
  list-style-type: lower-greek;
  text-indent: 1em;
}

.serving {
  font-style: italic;
}

.value {
  font-style: italic;
}

dt {
  font-weight: bold;
  font-size: .5rem;
}

.value {
  text-indent: 1em;
  line-height: 1.5;
}

ul {
  text-indent: 1em;
  list-style-type: circle;
}

a {
  color: #9e2244;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4e0e1f;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
  font-size: .5rem;
}

.days {
  font-weight: bold;
  font-size: 2rem;
}

blockquote {
  font-size: 3rem;
  font-style: italic;
}

cite {
  font-size: .4rem;
  font-style: italic;
}

h2 {
  color: #4e0e1f;
  font-size: 3rem;
  font-family: "PT Sans", sans-serif;
}
