html {
  background-color: #c9b5ae;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #4e0e1f;
  font-size: 3rem;
  font-weight: 700;
}

ol {
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #9e2244;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4e0e1f;
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  text-align: center;
  font-size: .5rem;
}

.days {
  font-weight: bold;
  font-size: 2rem;
}

blockquote{
  font-size: 3rem;
  font-weight: 400italic;
  font-family: 'PT Serif', serif;
}

cite {
  font-site: .5rem;
  font-weight: 700;
  font-family:
}

h2 {
  color: #4e0e1f;
  font-size: 3rem;
}
